.app{
    overflow: hidden;
}

/* header */
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; 
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    height: var(--navbar-height);
}

.header__navbar-list{
    list-style: none;
    display: flex;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255,255, 0.7);
    cursor: pointer;
}

.header__navbar-item{
    margin:0 12px;
    position: relative;
    min-height: 26px;
}
.header__navbar--user{
    display: flex;
    align-items: center;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}

.header__navbar-user-name{
    margin-left: 8px;
    margin-top: 2px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    top: 130%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    list-style: none;
    width: 160px;
    padding-top: 6px;
    z-index: 3;
    box-shadow: 0 1px 5px #999;
    display: none;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in .3s;
    will-change: opacity,transform;

}

.header__navbar-item:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu::before{
    content: "";
    border-style: solid;
    border-width: 15px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -24px;
    right: 5px;
}

.header__navbar-user-menu::after{
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 0px;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 16px;
    display: inline-block;
    width: 100%;
    font-weight: 400;
}

.header__navbar-user-item a:hover{
    background-color: #eeeded;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    border-right: 1px solid #FB9086;
    position: absolute;
    height: 16px;
    right: -13px;
    top: 0;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}

.header__navbar-icon{
    font-size: 1.8rem;  
    margin: 0 4px;
}
.text-pointer{
    cursor:text;
    color: var(--white-color)
}

/* Header sort bar */

.header__sort-bar{
    position: sticky;
    z-index: 1;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-heigh);
    background-color: var(--white-color);
    list-style: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item{
    flex: 1;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-heigh);
    text-align: center;
    position: relative;
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

/* Header QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 130%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 3;
}
.header__qr::before{
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    top:-8px;
    left: 0;
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:first-child{
    margin-left:10px;
}
.header__qr-link:nth-child(2){
    margin-right: 10px;
}
.header__qr-download-img{
      height: 16px;
}
.header__navbar-item-has-qr:hover .header__qr{
    display: block;
}
/* header notification */
.header__notify{
    background-color: var(--white-color);
    position: absolute;
    top: 130%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    display:none;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in .3s;
    will-change: opacity,transform;
    z-index: 3;
}

.header__notify::before{
    content: "";
    border-width: 15px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -25px;
    cursor: default;
    
}
.header__notify::after{
    content: "";
    position: absolute;
    right: 0;
    top: -25px;
    width: 100px;
    height: 30px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    color: var(--black-color);
    cursor: text;
}

.header__notify-header h3{
    color:var(--black-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px; 
}

.header__notify-list{
    display: flex;
    flex-direction: column;
}
.header__notify-item{
    display: flex;
    list-style: none;
}

.header__notify-item:hover{
    background-color:rgb(241, 241, 241,0.8);
}

.header__notify-item--read{
    background-color: rgba(248, 184, 171, 0.08);
}

.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;
    width: 100%;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    flex-direction: column;
    margin-left: 12px;
    line-height: 20px;
}
.header__notify-name{
    display: block;
    font-size: 1.5rem;
    color: var(--black-color);
    margin-bottom: 3px;
    font-weight: 400;
}
.header__notify-description{
    font-size: 1.3rem;
    color: #999;
}

.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}
.header__notify-footer{
    text-align: center;
    display: flex;
    background-color: rgba(221, 221, 221,0.3);
}
.header__notify--footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0;
}

/* Authentic modal */
.authentic-form{
    width: 500px;
}
.authentic-form__container{
    padding: 32px 32px;
    background-color: var(--white-color);
    border-radius: 5px 5px 0 0;
}
.authentic-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 8px;
}

.authentic__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}    
.authentic-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.authentic-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline:none;
}

.authentic-form__input:focus{
    border-color: #777;
}

.authentic-form__aside{
    margin-bottom: 20px;
}

.authentic-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.authentic-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.authentic-form__control{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.authentic-form__socials{
    background-color: rgb(223, 217, 217);
    padding: 20px 30px;
    display: flex;
    border-radius: 0 0 5px 5px;
}

.btn--with-icon{
    max-width: 300px;
}

.btn--with-icon+.btn--with-icon{
    margin-left: 7px;
}
.icon{
    font-size: 1.8rem;
    flex: 1;
}
.authentic-form__socials--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
    flex: 1;
}

.authentic-form__socials--google{
    color: var(--text-color);
    background-color:var(--white-color);
    flex: 1;
}
.authentic-form__socials--SMS{
    color: var(--white-color);
    background-color: green;
    flex: 1;
}

.authentic-form__socials-label{
    font-size: 1.2rem;
    font-weight: 500;
    flex: 3;
    min-width: 50px;
    text-align: center;
}



.authentic-form__help{
    display: flex;
    justify-content: flex-end;
}

.authentic-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black-color);
}
.authentic__form-separator{
    display: block;
    border-left: 1px solid gray;
    height: 14px;
    margin: 0 16px ;
}

.authentic-form__help-link-forgot{
    color: var(--primary-color);
}


/* header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}


.header__logo{
    width: 209px;
    cursor: pointer;
}

.header__logo-link{
    text-decoration: none;
    line-height: 0;
    display: block;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 165px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0 8px;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 3rem;
}


.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .3s;
    will-change: opacity,transform;
    z-index: 3;
    display: none;
    cursor: default;
}

.header__cart-list::before{
    content: "";
    position: absolute;
    right: 0;
    top: -28px;
    border-color: transparent transparent var(--white-color) transparent ;
    border-width: 20px;
    border-style: solid;
    cursor: pointer;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 22px;
    top: -10px;
    right: 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-message{
    display: block;
}

.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    border: 2px solid #EE4D2D;
    top: -8px;
    right: 0;
}

.header__cart-list--no-cart{
    padding: 24px 0;
    text-align: center;
    cursor: default;
    height: 200px;
}

.header__cart-no-cart-img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    display: none;
}

.header__cart-list-no-cart-message{
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    width: calc( 100% - 16px);
    border-radius: 3px;
    display: none;
    box-shadow: 0 1px 5px #999;
    z-index: 2;
}

.header__search-history-heading{
    color:#837e78;
    margin: 8px 16px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__search-history-list{
    list-style: none;
}

.header__search-history-list:last-child{
    border-radius: 0 0 3px 3px ;
}

.header__search-history-item{
    height: 38px;
    padding: 0 16px;
    display: flex;
}

.header__search-history-item:hover{
    background-color: rgb(240, 238, 238);
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    flex: 1;
    line-height: 38px;
}

.header__search-selection{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
}

.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-selection-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 2px;
    height: 34px;
    width: 60px;
    margin: 5px;
}

.header__search-btn:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-option{
    position: absolute;
    top: 180%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    width: 110%;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 2;
}

.header__search-option::before{
    content: "";
    position: absolute;
    display: block;
    top: -15px;
    width: 100%;
    height: 15px;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px;
    list-style: none;
}

.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
    background-color: #f7f3f3;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 14px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

/* cart */

.header__cart-heading{
    text-align: left;
    margin: 12px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    margin-top: 12px;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);

    max-height: 32px;
    padding-right: 8px;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-quantity{
    color: #757575;
    font-size: 1.2rem;
    float: right;
}

.header__cart-item-body{
    margin-top: 8px;
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-remove{
    font-size: 1.4rem;
    cursor: pointer;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
}

.header_cart-btn{
    float: right;
    margin: 0 12px 12px 0;
}

.header_cart-btn:hover{
    background-color: #F05d41;
}

/* app container */
.app_container{
    padding-top: calc(36px + var(--header-height));
    padding-bottom: 16px;
    background-color: #f5f5f5;
}

.category{
    background-color: var(--white-color);
    border-radius: 3px;
    padding-bottom: 8px;
}

.category__heading{
    color: var(--text-color);
    padding: 22px 16px;
    font-size: 1.7rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    list-style: none;
    margin-left: 9px;
} 

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 8px;
    top:50%;
    transform: translateY(-50%);
}

.category-list .category-item:nth-child(1){
    padding-top: 16px;
}

.category-item__link{
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* mobile category */
.mobile-category{
    display: none;
}

.mobile-category__list{
    display: flex;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar{
    display: none;
}

.mobile-category__item:first-child{
    margin-left: 10px;
}

.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n) .mobile-category__link{
    background-color: #88CF81;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76C9BD;
}

.mobile-category__link{
    --line-height:2rem;

    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: var(--line-height);
    max-height: calc(var(--line-height)*2);
    overflow: hidden;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    padding: 0 5px;
}



/* Hom sort+filter */

.home-filter{
    background-color: rgba(0,0,0,0.08);
    display: flex;
    align-content: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__label,.select-filter__page{
    display: flex;
    align-items: center;
}

.select-filter__page{
    display: flex;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
}

.select-input{
    position: relative;
}

.select-input__list{
    position: absolute;
    top:calc(100% + 2px);
    right: 0;
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px #999;
    font-size: 1.4rem;
    padding: 8px 0;
    display: none;
    transform-origin: 50% top;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.select-input__item{
    width: 100%;
    padding: 8px 16px;
}

.select-input__item-link{
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    font-weight: 400;
}

.select-input__item-link:hover{
    color: var(--primary-color);
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
}

.home-filter__page{
    margin-left: auto;
    display: flex;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
    display: flex;
    align-items: center;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable{
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}

/* Product item */
.home-product-item{
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(128, 128, 128,0.5);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 gray;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 5px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
    margin-right: auto;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-right: 10px;
    margin-left: auto;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
}

.home-product-item__like{
    font-size: 1.4rem;
}

.home-product-item__like--liked .home-product-item__like--liked-icon-fill{
    display: inline-block;    
}

.home-product-item__like--liked .home-product-item__like--liked-icon-empty{
    display: none;
}

.home-product-item__like--liked-icon-fill{
    display: none;
    color: red;
}


.home-product-item__rating{
    color: #d5d5d5;
    margin-left: auto;
    margin-top: -2px;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    align-items: baseline;
    margin: 5px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 5px;
}

.home-product-item__brand{
    margin-right: auto;
}

.home-product-item__origin-name{
    margin-left: auto;
}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    display: flex;
    align-items: center;
}

.home-product-item__favorite i{
    color: var(--white-color);
    font-size: 0.8rem;
    margin: 0 3px 0 5px;
}


.home-product-item__favorite span{
    color: var(--white-color);
}

.home-product-item__favorite::before{
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    top: 16px;
    filter: brightness(0.6);
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.94);
    text-align: center;
    padding: 2px 0;
}

.home-product-item__sale-off-percent{
    font-size: 1.3rem;
    color: red;
    font-weight: 600;
}

.home-product-item__sale-off-label{
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    top:100%;
    right: 0;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.94) transparent rgba(255, 216, 64,0.94);
}
/* pagination */

.home-product__pagination{
    margin-top: 50px;
    margin-bottom: 32px;
}

/* footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 38px;
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__download{
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 8px;
}

.footer__download-qr{
    width: 80px;
}

.footer__download-apps{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img{
    height: 20px;
}

.footer__download-apps-link{
    color: transparent;
    text-decoration: none;
}

.footer__bottom{
    background-color: #f5f5f5;
    padding: 15px;
}

.footer__text{
    font-size: 1.4rem;
    text-align: center;
}